<div class="container">
    <h1 id="logo" style="font-size:500%">A Máquina Pública</h1>
    <br>
    <br>
    <h2><img width="5%" src="https://www.gov.br/planalto/pt-br/conheca-a-presidencia/acervo/simbolos-nacionais/bandeira/bandeiragrande.jpg/@@images/image"></h2>
    <%if @bases.second.pai == @bases.first.codigo %>
        <h2 style="text-indent:50px"><%=@bases.second.nome%></h2>
    <%else%>
        <h2><%=@bases.second.nome%></h2>
    <%end%>
    <%if @bases.third.pai == @bases.second.codigo %>
        <h3 style="text-indent:100px"><%=@bases.third.nome%></h3>
    <%else%>
        <h3><%=@bases.third.nome%></h3>
    <%end%>
    <%@bases.third.children.each do |s|%>
        <h4 style="text-indent:150px"><a href="unidade/<%=s.id%>"><%=s.nome%> (<%=s.sigla%>)</a></h4>
        <%s.children.sort_by{|s| [@ordering.map {|k,y| s.nome.include?(k) ? y : 9}, s.howmuch, s.nome]}.each do |x|%>
            <%if x.howmuch == 0%>
                <h5 style="text-indent:200px"><a href="unidade/<%=x.id%>"><%=x.nome%> (<%=x.sigla%>)</a></h5>
            <%elsif x.howmuch == 1%>
                <h5 style="text-indent:200px"><a href="unidade/<%=x.id%>"><%=x.nome%> (<%=x.sigla%>): <%=x.howmuch%> órgão subordinado</a></h5>
            <%else%>
                <h5 style="text-indent:200px"><a href="unidade/<%=x.id%>"><%=x.nome%> (<%=x.sigla%>): <%=x.howmuch%> órgãos subordinados</a></h5>
            <%end%>
            <%x.children.sort_by{|c| [@kinds.map {|k,y| c.natureza == k ? y: 7}, c.nome]}.each do |z|%>
                <h6 style="text-indent:250px"><a href="unidade/<%=z.id%>"><%=z.nome%> (<%=z.sigla%>) - <%=z.natureza%></a></h6>
            <%end%>
        <%end%>
    <%end%>
    <br>
    <br>
    <h6>Organizações Militares</h6>
    <%@militares.each do |m|%>
        <p><a href="unidade/<%=m.id%>"><%=m.nome%> - <%=m.sigla%></a></p>
    <%end%>
</div>